#footer {
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    padding: 40px 0 100px 0;
    text-align: center;
}

.footer-links {
    display: flex !important;
    margin: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 3rem;
}

.footer-links li {
    margin: 0 20px;
}

footer .logo span{
    color: var(--primary-color);
}

.footer-links li a {
    transition: var(--transition);
}

.footer-links li a:hover {
    color: var(--primary-color);
}