nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo {
   font-size: var(--font-size-heading);
   font-weight: 500;
}

.logo span {
    color: var(--accent-color);
    font-size: 28px;
    font-weight: 600;
}

.nav-links {
    display: inline-block;
    padding: 10px 0;
}

.nav-links li {
    float: left;
    margin-right: 40px;
}

.nav-links li a {
    color: var(--secondary-color);
    transition: all 300ms ease-out;
}

.nav-links li:first-child a {
    color: var(--accent-color);
}

.nav-links li a:hover {
    color: var(--accent-color);
}

.hamburger-icon {
    display: none;
    cursor: pointer;
    z-index: 12;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 7.5px auto;
    transition: all 300ms ease-in-out;
    border-radius: 2px;
}

.hamburger-icon.active .bar:first-child {
    transform: translateY(5.5px) rotate(45deg);
}

.hamburger-icon.active .bar:last-child {
    transform: translateY(-5.5px) rotate(-45deg);
}

@media (max-width: 834px) {
    .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 11;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5rem;
    }
    
    .nav-links li {
        margin: 0;
    }

    .hamburger-icon {
        display: block;
    }
}