*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: 0;
  border: 0;
}

:root {
  --primary-color: hsl(219, 39%, 15%);
  --secondary-color: hsl(0, 0%, 100%);
  --accent-color: hsl(175, 84%, 39%);
  --accent-color-on-hover: hsl(175, 84%, 36%);
  --card-bg-color: hsl(200, 50%, 25%);
  --text-secondary-color: hsl(0, 0%, 60%);

  --container-w-lg: 75%;
  --container-w-md: 86%;
  --container-w-sm: 90%;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-heading: 24px;

  --transition: all 300ms linear;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
  width: 100%;
  height: 100vh;
}